dist: xenial

os: linux

language: node_js

node_js:
  - node
  #- lts/*
  #- 14
  #- 13
  #- 12
  #- 11
  #- 10

deploy:
  provider: npm
  email: "robertosviluppo@gmail.com"
  api_key: ${NPM_API_KEY}

install:
  - npm install

script:
  - echo $TRAVIS_NODE_VERSION
  - npm run cover

after_success:
  - |
    if [[ $TRAVIS_NODE_VERSION == "14" ]]; then
      cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js;
    fi
